<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Osoby</title>
</head>
<body>
<h1>Lista osób</h1>
<ol>
{{#people}}
    <li>{{firstName}} {{lastName}}; {{.}}</li>
{{/people}}
</ol>
<hr>
<form method="post" action="/people">
    <p>
        <label for = "firstName">Imię</label>
        <!--atrybut name określa nazwę pola wysłaną na serwer-->
        <input id = "firstName" name = "firstName">
    </p>
    <p>
        <label for = "lastName">Nazwisko</label>
        <input id = "lastName" name = "lastName">
    </p>
    <input type = "submit" value="Wyślij">
</form>
</body>
</html>
