{{>homework/header}}
<form method="post" action="/products">
    <div><label for="name">Nazwa</label><input id="name" name="name" type="text"></div>
    <div><label for="description">Opis</label><input id="description" name="description" type="text"></div>
    <div><label for="price">Cena</label><input id="price" name="price" type="text"></div>
    <div><input type="submit" value="Wyślij"></div>
</form>
{{>homework/footer}}
